*{
    border: 0;
    margin: 0;

}

body{
    background-color: rgb(131, 131, 209);
    width: 100vw;
    height: 100vh;


    font-family: 'Courier New', Courier, monospace;
}

#main{
    width: 90%;
    height: 90%;


    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;

    justify-items: left;
    align-items: center;
}


#title{
    margin-left: 10px;
    margin-top: 10px;
}

#board{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-template-columns: 30% 30% 30%;
    gap: 10px;

    height: 50%;
    width: 90%;

    background-color: rgb(172, 210, 243);
    justify-content: center;
    align-content: center;

    margin-left: 50px;
    margin-top: 10%;

    border-radius: 20px;
}

.cell{
    background-color: #9ea3ff;

    border-radius: 10px;
}

.cell:hover{
    background-color: rgb(106, 106, 255);
    box-shadow: 10px 10px 30px black;
}

#ui{
    background-color: #676ee7;
    height: 40%;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    padding: 10px;
    margin-right: 10px;
    margin-left: 20px;
}
